# Окружение
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# ОС
.DS_Store
Thumbs.db

# Логи и БД
*.log
*.sqlite3
*.db

# Docker
*.pid
